# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Dart / Flutter
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/local.properties
**/android/key.properties
*.jks

# iOS / macOS
**/ios/Flutter/.last_build_id
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Pods/
**/macos/Pods/
**/Flutter/ephemeral/

# 기타
*.log
.DS_Store
Thumbs.db
